<key>CFBundleDocumentTypes</key>
<array>
  <dict>
    <key>CFBundleTypeName</key>
    <string>Images</string>

    <key>CFBundleTypeRole</key>
    <string>Editor</string>

    <key>LSHandlerRank</key>
    <string>Owner</string>

    <key>LSItemContentTypes</key>
    <array>
      <string>public.jpeg</string>
      <string>public.png</string>
      <string>public.heic</string>
      <string>public.tiff</string>
    </array>
  </dict>
</array>
